<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlnu.shortlink.project.dao.mapper.LinkDeviceStatsMapper">
    <sql id="columns">
        full_short_url,
        gid,
        date,
        cnt,
        device,
        create_time,
        update_time,
        del_flag
    </sql>

    <insert id="shortLinkDeviceStats">
        INSERT INTO t_link_device_stats (
        <include refid="columns"></include>)
        VALUES (#{linkDeviceStats.fullShortUrl},
        #{linkDeviceStats.gid},
        #{linkDeviceStats.date},
        #{linkDeviceStats.cnt},
        #{linkDeviceStats.device},
        NOW(),
        NOW(),
        0)
        ON DUPLICATE KEY
        UPDATE cnt = cnt + #{linkDeviceStats.cnt}
    </insert>

    <select id="listDeviceStatsByShortLink" resultType="com.dlnu.shortlink.project.dao.entity.LinkDeviceStatsDO">
        SELECT
            device,
            SUM(cnt) AS cnt
        FROM
            t_link_device_stats
        WHERE
            full_short_url = #{param.fullShortUrl}
            AND gid = #{param.gid}
            AND date BETWEEN CONCAT(#{param.startDate}, ' 00:00:00') AND CONCAT(#{param.endDate}, ' 23:59:59')
        GROUP BY
            device
    </select>
</mapper>